# Implementing SVM#

In [6]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
plt.style.use('ggplot')

In [4]:
data = pd.read_csv('../Data/reddit_training.csv')

In [5]:
data.head()

,index,body,author,created_utc,subreddit_id,link_id,parent_id,score,id,subreddit,sarcasm_tag
0,954,"That video was NOT the actual jokes, which dis...",SnoopyFandango,1441133826,t5_2qh6e,t3_3j9177,t3_3j9177,16,cunauaf,television,no
1,957,I wash shocked to realize that the actual foot...,mortal_cum_bat,1441135440,t5_2qh6e,t3_3j9177,t1_cunauaf,3,cunbw3h,television,no
2,956,I could have sworn I saw it a few months ago. ...,HolidayInnCambodia,1441136214,t5_2qh6e,t3_3j9177,t1_cunbw3h,4,cunceo7,television,no
3,958,Penn and Tellers BS has Gottfried on telling t...,hereticsmurf,1441138662,t5_2qh6e,t3_3j9177,t3_3j9177,2,cune0yw,television,no
4,959,Wasn't the whole bit in the Aristocrats docume...,jbiresq,1441143930,t5_2qh6e,t3_3j9177,t3_3j9177,2,cunhg2v,television,no

In [23]:
tfid = TfidfVectorizer()

In [24]:
tf_idf_array = tfid.fit_transform(data['body']).toarray()

In [26]:
tf_idf_array = pd.DataFrame(data=tf_idf_array, columns=tfid.get_feature_names())

In [27]:
tf_idf_array.head()

,00,000,04,052,06,08,09,0m22s,10,100,...,zero,zippity,zoey,zombie,zone,zoo,zucluyhxsec,ānus,ārius,īnus
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0